@page
@model HelloWorldRazor.Pages.Locations.CreateModel

@{
    ViewData["Title"] = "Location Creation Form";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Location.Name" class="control-label">Location Name</label>
                <input asp-for="Location.Name" class="form-control" maxlength="100" placeholder="Car Rental Location" />
                <span asp-validation-for="Location.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Location.Address" class="control-label">Full Address</label>
                <input asp-for="Location.Address" class="form-control" maxlength="200"
                    placeholder="15 Airport Drive, Mascot,NSW,Australia, 2020" />
                <span asp-validation-for="Location.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Location.Email" class="control-label">Email Address</label>
                <input asp-for="Location.Email" class="form-control" maxlength="255"
                    placeholder="locationname@carrentalsupport.com.au" />
                <span asp-validation-for="Location.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.State" class="control-label">State</label>
                <select asp-for="Location.State" class="form-control">
                    <option value="">Select State</option>
                    <option value="NSW">New South Wales</option>
                    <option value="VIC">Victoria</option>
                    <option value="QLD">Queensland</option>
                    <option value="SA">South Australia</option>
                    <option value="NT">Northern Territory</option>
                    <option value="WA">Western Australia</option>
                    <option value="TAS">Tasmania</option>
                </select>
                <span asp-validation-for="Location.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
