@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About US";
}

<h1>@ViewData["Title"]</h1>
<p>This is the about page, is about my journey with using C# and ASP.NET Core, with focus using web framework razor
    pages.</p>
<p>My name is Mendel and I am a software developer.</p>
<p>Feel free to reach out if you have any questions or feedback!</p>